#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Table_1 {
  border-collapse: separate;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Category_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Category_2-options {
  background-color: #F5EFD5;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Category_3-options {
  background-color: #F5EFD5;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Rectangle_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Panel_25 > .valign {
  vertical-align: top;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Label_72 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}