#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Rectangle_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8f58b28d-838a-449a-89e4-3b02e0781db6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}