#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-225ffeed-98a9-4337-82be-40c4ebd0f86f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}