#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434f886c-33f3-4241-84e0-e871dbb267d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}