#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 204px;
  height: 43px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFF00;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
  width: 308px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d3141ede-b217-49e0-a2d3-8eaacb6762cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}