#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f97b4dd9-b481-4ea5-b72c-d24c204c92cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}